<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:elasticsearch="http://www.springframework.org/schema/data/elasticsearch"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
    http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
    http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
    http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd
    http://www.springframework.org/schema/data/elasticsearch http://www.springframework.org/schema/data/elasticsearch/spring-elasticsearch.xsd">
	
    <context:component-scan base-package="vn.chodientu.entity" />
    <context:component-scan base-package="vn.chodientu.repository" />
    <context:component-scan base-package="vn.chodientu.service" />
    <context:component-scan base-package="vn.chodientu.util" />
    <context:component-scan base-package="vn.chodientu.component" />
    <context:annotation-config />
    <task:annotation-driven executor="executor" scheduler="scheduler"/>
    <task:executor id="executor" pool-size="30" queue-capacity="100000000" />
    <task:scheduler id="scheduler" pool-size="30" />
    <bean class="vn.chodientu.component.CustomeException"/>
    <bean id="gson" class="com.google.gson.Gson"/>
    
    <mongo:mongo port="27017" host="cdtmongo">
        <mongo:options connections-per-host="400"
            threads-allowed-to-block-for-connection-multiplier="1"
            connect-timeout="10000"
            auto-connect-retry="true"
            socket-keep-alive="true"
            socket-timeout="60000"
            slave-ok="false"
            write-number="0"
            write-timeout="0"
            write-fsync="false"/>
    </mongo:mongo>
    <mongo:db-factory dbname="cdt" mongo-ref="mongo" /> 
    
    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
    </bean>
    
    <elasticsearch:transport-client id="client" cluster-nodes="cdtsearch:9300" client-transport-ignore-cluster-name="true"/>

    <bean name="elasticsearchTemplate" class="org.springframework.data.elasticsearch.core.ElasticsearchTemplate">
        <constructor-arg name="client" ref="client"/>
    </bean>
    
    <bean class="vn.chodientu.component.ImageClient">
        <constructor-arg name="serverUrl" index="0">
            <array>
                <!--<value>http://static37.ichodientuvn.com</value>--> 
                <!--<value>123.30.51.37</value>-->
               <value>http://ichodientuvn.com</value>
            </array>
        </constructor-arg>
        <constructor-arg name="publicKey" index="1" value="chodientu" />
        <constructor-arg name="privateKey" index="2" value="@@@chodientu***luuanhthenayboaibiet"/>
    </bean>

    <bean id="viewer" class="vn.chodientu.entity.web.Viewer" scope="session">
        <property name="cpAuthRequired" value="true"/>
        <aop:scoped-proxy/>
    </bean>
    <bean id="captcha" class="vn.chodientu.entity.web.Captcha" scope="session">
        <aop:scoped-proxy/>
    </bean>
   
    <cache:annotation-driven/>
    
    <bean name="cacheManager" class="com.google.code.ssm.spring.SSMCacheManager">
        <property name="caches">
            <set>
                <bean class="com.google.code.ssm.spring.SSMCache">
                    <constructor-arg name="cache" index="0" ref="buffercache"/>
                    <constructor-arg name="expiration" index="1" value="15" />
                    <constructor-arg name="allowClear" index="2" value="true"/>
                </bean>
                <bean class="com.google.code.ssm.spring.SSMCache">
                    <constructor-arg name="cache" index="0" ref="datacache"/>
                    <constructor-arg name="expiration" index="1" value="900" />
                    <constructor-arg name="allowClear" index="2" value="true"/>
                </bean>
            </set>
        </property>
    </bean>

    <bean name="buffercache" class="com.google.code.ssm.CacheFactory">
        <property name="cacheName" value="buffercache"/>
        <property name="cacheClientFactory">
            <bean name="cacheClientFactory" class="com.google.code.ssm.providers.xmemcached.MemcacheClientFactoryImpl"/>
        </property>
        <property name="addressProvider">
            <bean class="com.google.code.ssm.config.DefaultAddressProvider">
                <property name="address" value="cdtmemcached:11211"/>
            </bean>
        </property>
        <property name="configuration">
            <bean class="com.google.code.ssm.providers.CacheConfiguration">
                <property name="consistentHashing" value="true"/>
            </bean>
        </property>
    </bean>

    <bean name="datacache" class="com.google.code.ssm.CacheFactory">
        <property name="cacheName" value="datacache"/>
        <property name="cacheClientFactory">
            <bean name="cacheClientFactory" class="com.google.code.ssm.providers.xmemcached.MemcacheClientFactoryImpl"/>
        </property>
        <property name="addressProvider">
            <bean class="com.google.code.ssm.config.DefaultAddressProvider">
                <property name="address" value="cdtmemcached:11211"/>
            </bean>
        </property>
        <property name="configuration">
            <bean class="com.google.code.ssm.providers.CacheConfiguration">
                <property name="consistentHashing" value="true"/>
            </bean>
        </property>
    </bean>
  
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="5000000"/>
    </bean>

<!--<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="javaMailProperties">
            <props>                
                <prop key="mail.transport.protocol">smtp</prop>
                <prop key="mail.smtp.userset">true</prop>
                <prop key="mail.mime.charset">UTF-8</prop>
                <prop key="mail.smtp.auth">false</prop>
                <prop key="mail.smtp.starttls.enable">false</prop>
                <prop key="mail.smtp.host">10.0.0.247</prop>
                <prop key="mail.smtp.port">25</prop>
            </props>
        </property>
    </bean>-->
    
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.elasticemail.com" />
        <property name="port" value="2525" />
        <property name="username" value="1329c14e-3b40-4a74-93f0-70449ca87f07" />
        <property name="password" value="1329c14e-3b40-4a74-93f0-70449ca87f07" />
 
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.starttls.enable">false</prop>
            </props>
        </property>
    </bean>
    
    
    <util:properties id="socialAuthProperties">
        <prop key="googleapis.com.consumer_key">955886783694-d30b0548i8ajtp2pn5jlglqik65lhprs.apps.googleusercontent.com</prop>
        <prop key="googleapis.com.consumer_secret">Tt-NMs_BwFFKuj8oqqP9GosZ</prop>
        <prop key="graph.facebook.com.consumer_key">1553985938173792</prop> 
        <prop key="graph.facebook.com.consumer_secret">fb374c8b0de3ab0b1d3a0c13bf00f06a</prop>
        <prop key="api.login.yahoo.com.consumer_key">dj0yJmk9MFVBVlFhWkE1QjNTJmQ9WVdrOVUzQnplakZaTjJrbWNHbzlNQS0tJnM9Y29uc3VtZXJzZWNyZXQmeD02Nw--</prop>
        <prop key="api.login.yahoo.com.consumer_secret">c494a91a499af79681d906245c68e86338a7961e</prop>
    </util:properties>
    
    <bean id="socialAuthConfig" class="org.brickred.socialauth.SocialAuthConfig">
        <property name="applicationProperties">
            <ref bean="socialAuthProperties"/>
        </property>
    </bean>
    
    <bean id="socialAuthManager" class="org.brickred.socialauth.SocialAuthManager" scope="session">
        <property name="socialAuthConfig">
            <ref bean="socialAuthConfig"/>
        </property>
        <aop:scoped-proxy/>
    </bean>
    
    <bean id="baseValidator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean" />
</beans>