.btn-primary{
	background:#f2f4f4;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#0392ba), to(#04a7d5));
	background:-webkit-linear-gradient(top, #04a7d5, #0392ba);
	background:-moz-linear-gradient(top, #04a7d5, #0392ba);
	background:-ms-linear-gradient(top, #04a7d5, #0392ba);
	background:-o-linear-gradient(top, #04a7d5, #0392ba);
}
.btn-warning{
	background:#f2f4f4;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fe7103), to(#fe8503));
	background:-webkit-linear-gradient(top, #fe8503, #fe7103);
	background:-moz-linear-gradient(top, #fe8503, #fe7103);
	background:-ms-linear-gradient(top, #fe8503, #fe7103);
	background:-o-linear-gradient(top, #fe8503, #fe7103);
}
.btn-danger{
	background:#f2f4f4;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ee2828), to(#fd3030));
	background:-webkit-linear-gradient(top, #fd3030, #ee2828);
	background:-moz-linear-gradient(top, #fd3030, #ee2828);
	background:-ms-linear-gradient(top, #fd3030, #ee2828);
	background:-o-linear-gradient(top, #fd3030, #ee2828);
}
.btn{
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
}
.form-control{
	font-size:12px;
	border:1px solid #cec6ba;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.text-inlineblock{
	display:inline-block;
	vertical-align:top;
	width:auto;
}
.text-danger{
	color:#ed1c24;
}
.box-captcha{
	display:inline-block;
	border:1px solid #b8b8b8;
	margin:0 0 5px;
	vertical-align:middle;
}
.btnnewimg{
    background: url(../images/btnnewimg.png) no-repeat;
    border:none;
    box-shadow:none;
    cursor:pointer;
    height:31px;
    margin:0 0 0 5px !important;
    text-indent:-9999px;
    vertical-align:middle !important;
    width:30px;
	display:inline-block;
}
.red, .redfont {
	color:red !important;
}
/*message*/
.fr-message{
	padding:15px 10px;
	margin:0 0 10px;
	font-size:12px;
}
.cm-icon{
	padding-left:45px !important;
}
.fr-message.cm-icon{
	padding-left:45px !important;
}
.cm-icon .glyphicon, .cm-icon .fa{
	font-size:28px;
	float:left;
	margin:-5px 0 0 -35px;
}
.cm-icon .fa-check{
	color:#090;
}
.cm-icon .fa-exclamation-circle{
	color:#F90;
}
.cm-icon .fa-exclamation-triangle{
	color:red;
}
/*end message*/